<launch>
    <arg name="output" default="screen"/>
    <arg name="topic_name" default="/robot_face"/>
    <arg name="display_local" default="true"/>
    <arg name="width" default="1280"/>
    <arg name="height" default="720"/>
    <arg name="encoding" default="rgb8"/>
    
	<node name="face_server" pkg="tbd_screen_face" type="faceController.py" output="$(arg output)">
        <param name="topic_name" value="$(arg topic_name)" />
        <param name="display_local" value="$(arg display_local)" />
        <param name="width" value="$(arg width)" />
        <param name="height" value="$(arg height)" />
        <param name="encoding" value="$(arg encoding)" />
    </node>
</launch>